html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background-image: url("./images/background.jpg");
    background-repeat: no-repeat;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 7.5rem;
}

ul {
    display: flex;
    list-style: none;
    gap: 3rem;     
    padding: 0;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: Source Sans Pro;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0px;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

h1 {
    font-family: Source Sans Pro;
    font-weight: 700;
    font-size: 120px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
    margin: 10rem auto 0 auto;
    padding: 1rem;
}

.span {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    gap: 4rem;
}

.expressions {
    font-family: Source Sans Pro;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
}

.btn1 {
    box-shadow: 0px 2px 20px 0px #00000080;
    font-family: Source Sans Pro;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
    background-color: #C271FF;
    padding: 0.8rem 1.25rem;
    border-radius: 22px;
    margin-top: 2.5rem;
    border: none;
    cursor: pointer;
}

h2 {
    font-family: Source Sans Pro;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 11rem;
    color: #C271FF;
}

.ftp {
    font-family: Source Sans Pro;
    font-weight: 300;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
}

.pros {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 4.55rem;
}

.pro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.pro > h3 {
    font-family: Source Sans Pro;
    font-weight: 900;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 0;
    margin-top: 0.7rem;
}

.pro > p {
    font-family: Source Sans Pro;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C271FF;
    width: 100%;
    padding: 7rem 0;
    gap: 3rem;
    margin: 0 auto;
}

.banner-writeup > blockquote {
    font-family: Source Sans Pro;
    font-weight: 400;
    font-size: 22px;
    line-height: 33.6px;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-align: left;
    margin: 0;
    margin-bottom: 1.5rem;
}

.banner-writeup > h3 {
    font-family: Source Sans Pro;
    font-weight: 700;
    font-size: 22px;
    line-height: 33.6px;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-align: left;
    margin: 0;
}

.banner-writeup > p {
    font-family: Source Sans Pro;
    font-weight: 400;
    font-size: 22px;
    color: #FFFFFF;
    line-height: 33.6px;
    letter-spacing: 0px;
    text-align: left;
    margin: 0;
}

.most {
    font-family: Source Sans Pro;
    font-weight: 300;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    color: #071629;
}

.most-popular {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.most-popular > h2 {
    margin-top: 6rem;
}

.most-popular-container {
    margin: 5rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 3rem;
}

.popular-writeup {
    width: 23%;
    min-width: 15rem;
}

.popular-writeup > h3 {
    font-family: Source Sans Pro;
    font-weight: 700;
    font-size: 16px;
    color: #071629;
    line-height: 100%;
    letter-spacing: 0px;
}

.popular-writeup > p {
    font-family: Source Sans Pro;
    font-weight: 400;
    font-size: 14px;
    color: #07162980;
    line-height: 24px;
    letter-spacing: 0px;

}

.author > h4 {
    margin: 0;
    text-align: center;
    vertical-align: middle;
    font-family: Source Sans Pro;
    font-weight: 600;
    font-size: 14px;
    color: #C271FF;
    line-height: 27px;
    letter-spacing: 0px;

}

.author {
    display: flex;
    width: 100%;
    gap: 1rem;
    vertical-align: middle;
}

.star-rating {
    display: flex;
    margin-top: 1rem;
    gap: 0.5rem;
    justify-content: space-between;
}

.fa-star {
    color: #C271FF;
    font-size: 0.85rem;
}

.star-container {
    display: flex;
    gap: 0.5rem;
}

.star-rating > p {
    margin: 0;
    font-family: Source Sans Pro;
    font-weight: 600;
    font-size: 14px;
    color: #C271FF;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: right;

}

.membership > h2 {
    margin-top: 3rem;
}

.membership {
    background-color: #071629;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 3rem 6rem;
}

.membership-content {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.membership-writeup {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    min-width: 16rem;
}

.membership-writeup > h3 {
    font-family: Source Sans Pro;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    margin: 0;
}

.membership-writeup > p {
    font-family: Source Sans Pro;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    margin: 0;
}

.faq > h2 {
    font-family: Source Sans Pro;
    font-weight: 300;
    font-size: 60px;
    color: #071629;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 4.5rem;
}

.faq {
    display: flex;
    flex-direction: column;
}

.faq-writeup > h3 {
    margin-bottom: 2rem;
    font-family: Source Sans Pro;
    font-weight: 700;
    font-size: 16px;
    color: #071629;
    line-height: 100%;
    letter-spacing: 0px;
}

.faq-writeup > p {
    font-family: Source Sans Pro;
    font-weight: 400;
    font-size: 14px;
    color: #07162980;
    line-height: 24px;
    letter-spacing: 0px;


}

.faq-container1, .faq-container2 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3rem;
}

footer {
    background-color: #071629;
    padding-bottom: 1rem;
}

.footer-section {
    display: flex;
    justify-content: space-between;
    padding: 6rem 9rem 4.5rem 9rem;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

footer > p {
    font-family: Source Sans Pro;
    font-weight: 400;
    font-size: 12px;
    color: #929292;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;

}

